.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border-top: 0;
    background: #fff;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.3);
    transition: left 0.1s ease-in-out;

    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 70vh;
    width: 265px;
    overflow: hidden;
    overflow-y: hidden;
    box-sizing: border-box;

}
.autocomplete-suggestion {
    position: relative;
    cursor: pointer;
    padding: 12px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    font-weight: 800;
    border-bottom: 1px solid #E2E2E2;
}

.autocomplete-suggestion b {
    font-weight: normal;
    color: #1f8dd6;
}

.autocomplete-suggestion.selected {
    background: #4932FF;
    color: #fff;
}

.autocomplete-suggestion:hover {
    background: #f2f2f2;
    color: #000;
}

.autocomplete-suggestion > .context {
    font-size: 12px;
    font-weight: 300;
}
